<div class="modal">
    <div class="attendanceListDiv">
        <div *ngFor="let attendanceType of dataService.attendanceTypes; let i = index">
            <ng-container *ngIf="i !== attendanceEditIndex; else xxx">
                <div class="attendanceName">{{attendanceType}}</div>
                <button class="editBtn" (click)="editAttendance(i)">
                    <svg viewBox="0 0 24 24">
                        <path fill="currentColor" d="M14.06,9L15,9.94L5.92,19H5V18.08L14.06,9M17.66,3C17.41,3 17.15,3.1 16.96,3.29L15.13,5.12L18.88,8.87L20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18.17,3.09 17.92,3 17.66,3M14.06,6.19L3,17.25V21H6.75L17.81,9.94L14.06,6.19Z" />
                    </svg>
                </button>
            </ng-container>
            <ng-template #xxx>
                <input type="text" maxlength="4" [(ngModel)]="editAttendanceInput" [autofocus] (blur)="saveEditing($event.relatedTarget, i)"
                        (keydown.enter)="saveEditing()" (keydown.escape)="endEditing()" class="editInput" />
                <button class="deleteBtn" (click)="deleteAttendance(i)">
                    <svg viewBox="0 0 24 24">
                        <path fill="currentColor" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
                    </svg>
                </button>
            </ng-template>
        </div>
    </div>
    <div class="newAttendance">
        <input type="text" maxlength="4" placeholder="Kürzel" [(ngModel)]="newAttendanceInput" (keydown.enter)="addAttendance()" id="newAttendanceInput"/>
        <button (click)="addAttendance()" [disabled]="!isAttendanceValid(newAttendanceInput)">
            <svg viewBox="0 0 24 24">
                <path fill="currentColor" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
            </svg>
        </button>
    </div>
    <div class="modalBottomBtnDiv">
        <button (click)="close()" class="actionBtn">Schließen</button>
    </div>
</div>