.overallDiv {
    z-index: 1100;
}

.modal {
    height: auto;
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding: 40px;
    max-width: 350px;
}

.modal > div {
    flex-grow: 1;
}

.modalBottomBtnDiv {
    position: static;
    flex-basis: 34px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 40px;
}