.nameBtn {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
}

.noFileDiv {
    margin: 50px 70px;
}

.noFileDiv h2 {
    margin: 0px;
    font-style: italic;
}

.timePickerBtn {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-radius: 5px;
    padding: 1px;
}

.timePickerBtn:hover {
    padding: 0px;
}

.timePickerBtn:hover svg {
    height: 32px;
}

.timePickerBtn svg {
    height: 30px;
}

.timePicker {
    display: inline-flex;
    justify-content: center;
    gap: 8px;
}

.layoutPicker {
    display: inline-flex;
    align-items: center;
    margin-right: 60px;
}

.layoutPicker button {
    padding: 6px 8px;
    height: 38px;
    width: 42px;
    border-radius: 0px;
    border: 0px;
    margin: 0px;
    color: white;
    background-color: #36363a;
}

.layoutPicker button:hover {
    padding: 5px 7px;
}

.layoutPicker button.selected {
    /*color: #ffcd70;*/
    color: #c0c88d;
}

.layoutPicker button.selected:hover {
    padding: 6px 8px;
}

.layoutPicker button:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.layoutPicker button:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.layoutPicker button svg {
    height: 100%;
}

.topBar {
    margin: 30px 40px 50px 40px;
    display: flex;
    align-items: center;
}

.topBar select {
    width: 190px;
}

.departmentOverallDiv button {
    background-color: #36363a;
    color: white;
    border-radius: 5px 5px 0px 0px;
    margin: 0px 3px;
    font-size: 17px;
    padding: 5px 8px;
    font-weight: 600;
    border: 0px;
    border-top: 3px solid transparent;
    margin-top: 3px;
    white-space: nowrap;
    transition-duration: 0.15s;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 110px;
}

.departmentOverallDiv button.selected {
    background-color: hsl(92deg 25% 40%);
    text-shadow: 1px 1px 2px #222;
}

.departmentOverallDiv button.selected, .departmentOverallDiv button:hover {
    margin-top: 0px;
    padding-bottom: 8px;
}

.departmentOverallDiv button:disabled {
    opacity: 0.5;
}

.departmentOverallDiv button.departmentScrollBtn {
    background-color: transparent;
    width: 100px;
    min-width: auto;
}

.departmentOverallDiv button.departmentScrollBtn svg {
    height: 30px;
    color: black;
}

.summaryDepartmentDiv {
    margin-left: 20px;
}

.departmentOverallDiv {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: flex-end;
}

.headerDepartmentDiv {
    flex-shrink: 1;
    overflow-x: auto;
    display: flex;
    align-items: flex-start;
}

.headerDepartmentDiv::-webkit-scrollbar {
    height: 0px;
}

.newDepartmentDiv {
    display: flex;
    justify-content: right;
    gap: 10px;
    align-items: center;
    margin: 20px 25px;
    height: 34px;
}

.departmentViewDiv {
    border: 1px solid #999;
    margin: 0px 15px 30px 15px;
    padding: 20px;
    box-shadow: 2px 2px 4px #999;
    border-radius: 5px;
    background-color: white;
}

.addDepartmentSmallBtn {
    height: 28px;
    width: 28px;
    margin: 3px;
    padding: 3px;
}

.searchDiv {
    position: relative;
}

.searchDiv input {
    padding-left: 25px;
}

.searchDiv svg {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 4px;
    top: 4px;
}

.sortBtn {
    display: flex;
    border: 0px;
    padding: inherit;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    font-weight: 600;
    height: 100%;
    width: 100%;
    margin: 0px;
    justify-content: center;
    align-items: center;
    font-size: 19px;
}

.sortBtn svg {
    height: 23px;
}








.stakoli-table-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 50vh;
}

.stakoli-name-table {
    width: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 20px;
}

.stakoli-attendance-table {
    flex-grow: 1;
    flex-shrink: 1;
    overflow-x: auto;
    padding: 0px 60px 180px 60px;
}

.stakoli-name-table, .stakoli-attendance-table {
    padding-top: 50px;
}

.stakoli-table-row:first-child {
    height: 50px;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 10;
}

.stakoli-table-row {
    height: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.stakoli-table-row:hover:not(:first-child) .stakoli-table-cell {
    background-color: #a2ae99;
}

.stakoli-attendance-table .stakoli-table-row:hover:not(:first-child) .stakoli-table-cell:hover:not(.lineTrough) {
    background-color: #78896c;
}

.stakoli-attendance-table .stakoli-table-cell.today {
    background-color: #36363a;
    color: white;
    font-weight: 600;
}

.stakoli-name-table .stakoli-table-cell {
    flex-basis: 0px;
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    padding: 3px;
    box-sizing: border-box;
}

.stakoli-name-table .stakoli-table-row:first-child .stakoli-table-cell {
    flex-direction: row;
}

.stakoli-name-table .stakoli-table-cell:first-child {
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
}

.stakoli-name-table .stakoli-table-row:first-child .stakoli-table-cell {
    border-left-width: 0px;
    border-right-width: 0px;
}

.stakoli-table-row:last-child .stakoli-table-cell {
    border-bottom-width: 0px;
}

.stakoli-name-table .stakoli-table-row:not(:first-child) .stakoli-table-cell:first-child {
    border-left-width: 1px;
}

.stakoli-attendance-table .stakoli-table-row .stakoli-table-cell:last-child {
    border-right-width: 0px;
}

.stakoli-attendance-table .stakoli-table-cell {
    width: 60px;
    flex-basis: 60px;
    flex-grow: 1;
    flex-shrink: 0;
    display: inline-block;
    max-width: 80px;
    position: relative;
    overflow: visible;
}

.stakoli-table-cell {
    border-style: solid;
    border-color: #333;
    border-width: 0px 1px 1px 0px;
}

.weekNumbDiv {
    position: absolute;
    top: -25px;
}

.lastNameDiv, .positionText, .firstNameDiv, .rankDiv {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.nameSecondDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 100%;
    font-size: 15px;
}

.lastNameDiv {
    font-size: 18px;
}

.firstNameDiv {
    flex-shrink: 100;
}

.rankDiv {
    flex-shrink: 1;
    text-overflow: clip;
}

.addPersonBtn {
    width: 100%;
    margin-top: 10px;
}

.deleteDepartmentDiv {
    margin-top: 30px;
    padding: 20px;
    text-align: right;
}

.headerDate {
    text-align: center;
    font-size: 22px;
}

.headerWeekday {
    text-align: center;
}

.grayedOut {
    background-color: #e0e0e0;
}

.lineTrough {
    position: relative;
    overflow: hidden;
}

.lineTrough::after {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 1px;
    background: #555;
    content: "";
    width: 65%;
    display: block;
    transform: translateX(-50%) rotate(335deg);
}

.emptySpaceDiv {
    min-width: 60px;
}

.stakoli-table-row.hidden {
    display: none;
}