<button [disabled]="selectedWeek === 0" (click)="selectedWeek !== 0 ? selectedWeek = selectedWeek - 1 : ''">&#171;</button>
<select [selectedIndex]="selectedWeek" (change)="setSelectedWeek($event)">
    <option *ngFor="let week of weeks">
        {{week.week + 1 + ' (' + week.begin.toLocaleDateString('de', {day: 'numeric', month: 'numeric'}) + ' - ' + week.end.toLocaleDateString('de', {day: 'numeric', month: 'numeric'}) + ')'}}
    </option>
</select>
<button [disabled]="selectedWeek === weeks.length - 1" (click)="selectedWeek !== weeks.length - 1 ? selectedWeek = selectedWeek + 1 : ''">&#187;</button>

<!--button (click)="year = year - 1; calcYear()">prev</button--><div>{{dataService.year}}</div><!--button (click)="year = year + 1; calcYear()">next</button-->

<div>
    <ng-container *ngFor="let dep of dataService.data; let i = index">
        <button *ngIf="modifingDepartmentIndex !== i" (click)="clickOnDepartment(i, $event)" [style.font-weight]="selectedDepartmentIndex === i ? '600': 'inherit'">
            {{dep.name}}
        </button>
        <input autofocus *ngIf="modifingDepartmentIndex === i" (blur)="changeDepartmentName()" (keydown.enter)="changeDepartmentName()" (keydown.escape)="cancleChangeDepartmentName()" [(ngModel)]="newDepartmentName" />
    </ng-container>
    <input autofocus [(ngModel)]="newDepartmentName" *ngIf="addDepartmentActive" placeholder="AbteilungX" (keyup.enter)="addDepartment()" (keyup.escape)="cancelAddDepartment()"/>
    <button (click)="addDepartment()" [disabled]="addDepartmentActive && newDepartmentName === ''">
        +
    </button>
    <button *ngIf="addDepartmentActive" (click)="cancelAddDepartment()">
        X
    </button>
</div>
<div>
    <button (click)="deleteDepartment()">Abteilung löschen</button>
</div>

<table *ngIf="dataService.data.length !== 0">
    <thead>
        <td></td>
        <td></td>
        <ng-container *ngIf="weeks[selectedWeek].begin.getDate() === 1 && weeks[selectedWeek].begin.getMonth() === 0">
            <td class="dayTableDiv" *ngFor="let useless of dataService.getArray(6 - (weeks[0].end.getTime() - weeks[0].begin.getTime()) / (60 * 60 * 24 * 1000))">
                Frei
            </td>
        </ng-container>
        <ng-container *ngFor="let day of days; let i = index">
            <td class="dayTableDiv" *ngIf="day >= weeks[selectedWeek].begin && day <= weeks[selectedWeek].end" [style.background]="i === todayIndex ? 'blue' : ''">
                <div>{{day.toLocaleDateString('de', {weekday: 'short'})}}</div>
                <span>{{day.toLocaleDateString('de', {day: 'numeric', month: 'numeric'})}}</span>
            </td>
        </ng-container>
        <ng-container *ngIf="weeks[selectedWeek].end.getDate() === 31 && weeks[selectedWeek].end.getMonth() === 11">
            <td class="dayTableDiv" *ngFor="let useless of dataService.getArray(6 - (weeks[selectedWeek].end.getTime() - weeks[selectedWeek].begin.getTime()) / (60 * 60 * 24 * 1000))">
                Frei
            </td>
        </ng-container>
    </thead>
    <tr *ngFor="let person of dataService.data[selectedDepartmentIndex].persons; let i = index">
        <td>
            {{person.position}}
        </td>
        <td>
            <button class="nameBtn" (click)="editPerson(i)">
                {{person.lastName + " " + person.firstName + (person.rank ? ", " + person.rank : '')}}
            </button>
        </td>
        <ng-container *ngIf="weeks[selectedWeek].begin.getDate() === 1 && weeks[selectedWeek].begin.getMonth() === 0">
            <td class="dayTableDiv" *ngFor="let useless of dataService.getArray(6 - (weeks[0].end.getTime() - weeks[0].begin.getTime()) / (60 * 60 * 24 * 1000))">
                /
            </td>
        </ng-container>
        <td *ngFor="let day of getSelectedWeek()">
            <app-attendance-picker [(value)]="person.attendances[day.getDate().toString() + '.' + (day.getMonth() + 1).toString()]"></app-attendance-picker>
        </td>
        <ng-container *ngIf="weeks[selectedWeek].end.getDate() === 31 && weeks[selectedWeek].end.getMonth() === 11">
            <td class="dayTableDiv" *ngFor="let useless of dataService.getArray(6 - (weeks[selectedWeek].end.getTime() - weeks[selectedWeek].begin.getTime()) / (60 * 60 * 24 * 1000))">
                /
            </td>
        </ng-container> 
    </tr>
</table>
<button (click)="addPerson()">
    Add Person
</button>