<ng-container *ngIf="dataService.IsFileOpen; else noFile">
    <div class="topBar">
        <div class="layoutPicker">
            <button (click)="viewType = 'week'; changeViewType()" title="Wochenansicht" [class.selected]="viewType === 'week'">
                <svg viewBox="0 0 24 24">
                    <path fill="currentColor" d="M6 1H8V3H16V1H18V3H19C20.11 3 21 3.9 21 5V19C21 20.11 20.11 21 19 21H5C3.89 21 3 20.1 3 19V5C3 3.89 3.89 3 5 3H6V1M5 8V19H19V8H5M7 10H17V12H7V10Z" />
                </svg>
            </button>
            <button (click)="viewType = 'month'; changeViewType()" title="Monatsansicht" [class.selected]="viewType === 'month'">
                <svg viewBox="0 0 24 24">
                    <path fill="currentColor" d="M9,10V12H7V10H9M13,10V12H11V10H13M17,10V12H15V10H17M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5C3.89,21 3,20.1 3,19V5A2,2 0 0,1 5,3H6V1H8V3H16V1H18V3H19M19,19V8H5V19H19M9,14V16H7V14H9M13,14V16H11V14H13M17,14V16H15V14H17Z" />
                </svg>
            </button>
        </div>
        <div class="timePicker">
            <ng-container *ngIf="viewType === 'week'">
                <button class="timePickerBtn" [disabled]="selectedWeek === 0" (click)="selectedWeek !== 0 ? selectedWeek = selectedWeek - 1 : ''">
                    <svg viewBox="0 0 24 24">
                        <path fill="currentColor" d="M19,3H5A2,2 0 0,0 3,5V19C3,20.11 3.9,21 5,21H19C20.11,21 21,20.11 21,19V5A2,2 0 0,0 19,3M15.71,16.59L14.29,18L8.29,12L14.29,6L15.71,7.41L11.12,12L15.71,16.59Z" />
                    </svg>
                </button>
                <select [ngModel]="selectedWeek" (change)="setSelectedWeek($event)">
                    <option *ngFor="let week of weeks; let i = index" [value]="i">
                        {{week.week + 1 + ' (' + week.begin.toLocaleDateString('de', {day: 'numeric', month: 'numeric'}) + ' - ' + week.end.toLocaleDateString('de', {day: 'numeric', month: 'numeric'}) + ')'}}
                    </option>
                </select>
                <button class="timePickerBtn" [disabled]="selectedWeek === weeks.length - 1" (click)="selectedWeek !== weeks.length - 1 ? selectedWeek = selectedWeek + 1 : ''">
                    <svg viewBox="0 0 24 24">
                        <path fill="currentColor" d="M19,3H5A2,2 0 0,0 3,5V19C3,20.11 3.9,21 5,21H19C20.11,21 21,20.11 21,19V5A2,2 0 0,0 19,3M9.71,18L8.29,16.59L12.88,12L8.29,7.41L9.71,6L15.71,12L9.71,18Z" />
                    </svg>
                </button>    
            </ng-container>
            <ng-container *ngIf="viewType === 'month'">
                <button class="timePickerBtn" [disabled]="selectedMonth === 0" (click)="selectedMonth !== 0 ? selectedMonth = selectedMonth - 1 : ''">
                    <svg viewBox="0 0 24 24">
                        <path fill="currentColor" d="M19,3H5A2,2 0 0,0 3,5V19C3,20.11 3.9,21 5,21H19C20.11,21 21,20.11 21,19V5A2,2 0 0,0 19,3M15.71,16.59L14.29,18L8.29,12L14.29,6L15.71,7.41L11.12,12L15.71,16.59Z" />
                    </svg>
                </button>
                <select [(ngModel)]="selectedMonth" (change)="setSelectedMonth($event)">
                    <option [value]="month" *ngFor="let useless of dataService.getArray(12); let month = index">
                        {{newDate(dataService.year, month).toLocaleDateString('de', {month: 'long'})}}
                    </option>
                </select>
                <button class="timePickerBtn" [disabled]="selectedMonth === 11" (click)="selectedMonth !== 11 ? selectedMonth = selectedMonth + 1 : ''">
                    <svg viewBox="0 0 24 24">
                        <path fill="currentColor" d="M19,3H5A2,2 0 0,0 3,5V19C3,20.11 3.9,21 5,21H19C20.11,21 21,20.11 21,19V5A2,2 0 0,0 19,3M9.71,18L8.29,16.59L12.88,12L8.29,7.41L9.71,6L15.71,12L9.71,18Z" />
                    </svg>
                </button>    
            </ng-container>
        </div>
    </div>
    <!--button (click)="dataService.year = dataService.year - 1; calcYear()">prev</button><div>{{dataService.year}}</div><button (click)="dataService.year = dataService.year + 1; calcYear()">next</button-->

    <div class="newDepartmentDiv">
        <button *ngIf="!addDepartmentActive; else newDepartmentActive" (click)="addDepartment()" class="actionBtn positivBtn">
            Abteilung hinzufügen
        </button>
        <ng-template #newDepartmentActive>
            <input autofocus [(ngModel)]="newDepartmentName" *ngIf="addDepartmentActive" placeholder="AbteilungX" (keyup.enter)="addDepartment()" (keyup.escape)="cancelAddDepartment()" (blur)="OnNewDepartmentBlur($event.relatedTarget)"/>
            <button (click)="addDepartment()" [disabled]="newDepartmentName === ''" class="actionBtn positivBtn addDepartmentSmallBtn">
                <svg viewBox="0 0 24 24">
                    <path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
                </svg>
            </button>
        </ng-template>
    </div>
    <div class="departmentOverallDiv">
        <button class="departmentScrollBtn" *ngIf="depDiv.scrollWidth > depDiv.clientWidth" [disabled]="depDiv.scrollLeft <= 0" (click)="depDiv.scroll(depDiv.scrollLeft - depDiv.clientWidth * 0.25, 0)">
            <svg viewBox="0 0 24 24">
                <path fill="currentColor" d="M19,3H5A2,2 0 0,0 3,5V19C3,20.11 3.9,21 5,21H19C20.11,21 21,20.11 21,19V5A2,2 0 0,0 19,3M15.71,16.59L14.29,18L8.29,12L14.29,6L15.71,7.41L11.12,12L15.71,16.59Z" />
            </svg>
        </button>
        <div class="headerDepartmentDiv" #depDiv>
            <ng-container *ngFor="let dep of dataService.data; let i = index">
                <button *ngIf="modifingDepartmentIndex !== i" (click)="clickOnDepartment(i, $event)" [class.selected]="selectedDepartmentIndex === i">
                    {{dep.name}}
                </button>
                <input autofocus *ngIf="modifingDepartmentIndex === i" (blur)="changeDepartmentName()" (keydown.enter)="changeDepartmentName()" (keydown.escape)="cancleChangeDepartmentName()" [(ngModel)]="newDepartmentName" />
            </ng-container>
        </div>
        <button class="departmentScrollBtn" *ngIf="depDiv.scrollWidth > depDiv.clientWidth" [disabled]="depDiv.clientWidth + depDiv.scrollLeft >= depDiv.scrollWidth" (click)="depDiv.scroll(depDiv.scrollLeft + depDiv.clientWidth * 0.25, 0)">
            <svg viewBox="0 0 24 24">
                <path fill="currentColor" d="M19,3H5A2,2 0 0,0 3,5V19C3,20.11 3.9,21 5,21H19C20.11,21 21,20.11 21,19V5A2,2 0 0,0 19,3M9.71,18L8.29,16.59L12.88,12L8.29,7.41L9.71,6L15.71,12L9.71,18Z" />
            </svg>
        </button>
        <div class="summaryDepartmentDiv">
            <button (click)="''" [class.selected]="false">
                Gesamt
            </button>
        </div>
    </div>
    <div class="departmentViewDiv">
        <div class="searchDiv">
            <input type="text" [(ngModel)]="searchValue" placeholder="Suche..." />
            <svg viewBox="0 0 24 24">
                <path fill="currentColor" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
            </svg>
        </div>

        <table *ngIf="dataService.data.length !== 0">
            <thead>
                <td>
                    <button class="sortBtn" (click)="sortOrder = (sortOrder === 'function' ? 'function desc' : 'function')">
                        <span>Funktion</span>
                        <svg viewBox="0 0 24 24" [ngStyle]="{'transform': sortOrder.endsWith('desc') ? 'rotateX(180deg)' : '', 'opacity': sortOrder.startsWith('function') ? '1' : '0'}">
                            <path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
                        </svg>
                    </button>
                </td>
                <td>
                    <button class="sortBtn" (click)="sortOrder = (sortOrder === 'name' ? 'name desc' : 'name')">
                        <span>Name</span>
                        <svg viewBox="0 0 24 24" [ngStyle]="{'transform': sortOrder.endsWith('desc') ? 'rotateX(180deg)' : '', 'opacity': sortOrder.startsWith('name') ? '1' : '0'}">
                            <path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
                        </svg>
                    </button>
                </td>
                <ng-container *ngIf="viewType === 'week' && weeks[selectedWeek].begin.getDate() === 1 && weeks[selectedWeek].begin.getMonth() === 0">
                    <td class="dayTableDiv" *ngFor="let useless of dataService.getArray(6 - (weeks[0].end.getTime() - weeks[0].begin.getTime()) / (60 * 60 * 24 * 1000))">
                        Frei
                    </td>
                </ng-container>
                <ng-container *ngFor="let day of days; let i = index">
                    <td class="dayTableDiv" *ngIf="(viewType === 'week' && day >= weeks[selectedWeek].begin && day <= weeks[selectedWeek].end) || (viewType === 'month' && day.getMonth() === selectedMonth)" [style.background]="i === todayIndex ? 'blue' : ''">
                        <div *ngIf="viewType === 'month' && (day.getDate() === 1 || day.getDay() === 1)">{{getWeek(day, i) + 1}}</div>
                        <div>{{day.toLocaleDateString('de', {weekday: 'short'})}}</div>
                        <span>{{day.toLocaleDateString('de', {day: 'numeric', month: 'numeric'})}}</span>
                    </td>
                </ng-container>
                <ng-container *ngIf="viewType === 'week' && weeks[selectedWeek].end.getDate() === 31 && weeks[selectedWeek].end.getMonth() === 11">
                    <td class="dayTableDiv" *ngFor="let useless of dataService.getArray(6 - (weeks[selectedWeek].end.getTime() - weeks[selectedWeek].begin.getTime()) / (60 * 60 * 24 * 1000))">
                        Frei
                    </td>
                </ng-container>
            </thead>
            <tr *ngFor="let person of getPersons(); let i = index">
                <ng-container *ngIf="matchesSearchQuery(person)">
                    <td>
                        {{person.position}}
                    </td>
                    <td>
                        <button class="nameBtn" (click)="editPerson(getPersonIndex(person))">
                            {{person.lastName + " " + person.firstName + (person.rank ? ", " + person.rank : '')}}
                        </button>
                    </td>
                    <ng-container *ngIf="viewType === 'week' && weeks[selectedWeek].begin.getDate() === 1 && weeks[selectedWeek].begin.getMonth() === 0">
                        <td class="dayTableDiv" *ngFor="let useless of dataService.getArray(6 - (weeks[0].end.getTime() - weeks[0].begin.getTime()) / (60 * 60 * 24 * 1000))">
                            /
                        </td>
                    </ng-container>
                    <td *ngFor="let day of (viewType === 'week' ? getSelectedWeek() : getSelectedMonth())">
                        <app-attendance-picker [(value)]="person.attendances[day.getDate().toString() + '.' + (day.getMonth() + 1).toString()]"></app-attendance-picker>
                    </td>
                    <ng-container *ngIf="viewType === 'week' && weeks[selectedWeek].end.getDate() === 31 && weeks[selectedWeek].end.getMonth() === 11">
                        <td class="dayTableDiv" *ngFor="let useless of dataService.getArray(6 - (weeks[selectedWeek].end.getTime() - weeks[selectedWeek].begin.getTime()) / (60 * 60 * 24 * 1000))">
                            /
                        </td>
                    </ng-container> 
                </ng-container>
            </tr>
        </table>
        <button (click)="addPerson()" class="actionBtn positivBtn">
            Person hinzufügen
        </button>
        <div>
            <button (click)="deleteDepartment()" class="actionBtn negativBtn">Abteilung löschen</button>
        </div>
    </div>
    <app-submit-dialog-modal *ngIf="submitDialogOpen" [textTemplate]="template" [dialogMode]="SubmitDialogOption.YesNoCancle" (OnResult)="OnSubmitDialogResult($event)"></app-submit-dialog-modal>
    <ng-template #template>
        <p *ngIf="dataService.data[selectedDepartmentIndex].persons.length !== 0; else noPersons">
            In dieser Abteilung sind noch {{dataService.data[selectedDepartmentIndex].persons.length}} Personen gespeichert.
        </p>
        <ng-template #noPersons>
            <p>Diese Abteilung ist leer.</p>
        </ng-template>
        <p>
            Möchten Sie die Abteilung '{{dataService.data[selectedDepartmentIndex].name}}' wirklich löschen?
        </p>
    </ng-template>
</ng-container>
<ng-template #noFile>
    <div class="noFileDiv">
        <h2>Bitte öffnen Sie eine Datei!</h2>
    </div>
</ng-template>