<div class="modal">
    <div *ngFor="let sheet of dataService.foundSheetsList; let i = index">
        <b>{{sheet.name}} </b>
        <input type="checkbox" [(ngModel)]="sheetCheck[i]" [disabled]="sheet.error !== undefined" />
        <div>
            <div style="color: red" *ngIf="sheet.error !== undefined">{{sheet.error}}</div>
            <ng-container *ngIf="sheet.error === undefined">
                <div>{{sheet.obj.department.persons.length}} Personen eingelesen</div>
                <div>{{sheet.obj.daysCount}} Tage eingelesen</div>
                <div [style.color]="isNan(sheet.obj.year) ? 'orange' : 'inherit'">{{isNan(sheet.obj.year) ? 'Kein Jahr erkannt' : sheet.obj.year}}</div>
            </ng-container>
        </div>
    </div>
    <div>
        <span *ngIf="yearMissmatch" style="color: rgb(189, 189, 23)">Jahre stimmen nicht überein</span>
    </div>
    <input type="number" pattern="%d" [(ngModel)]="selectedYear" (input)="onYearChanged($event)" min="1900" max="4000" />
    <button (click)="applyData()">Änderungen Anwenden</button>
</div>