/* You can add global styles to this file, and also import other style files */
div.overallDiv {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #00000055;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    animation: fadeIn 0.15s;
}

.modal {
    background-color: #ffffffee;
    padding: 40px 40px 100px 40px;
    border-radius: 3px;
    box-shadow: 5px 5px 8px #444;
    min-height: 300px;
    position: relative;
}

button {
    cursor: pointer;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 100;
    }

    100% {
        opacity: 0;
    }
}

.modalButtomBtnDiv {
    display: flex;
    justify-content: right;
    padding: 0px 20px;
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.actionBtn {
    border: #383838 3px solid;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-weight: 600;
    font-family: Arial;
    padding: 4px 6px;
    font-size: 16px;
    box-shadow: 2px 2px 2px #777;
    transition-duration: 0.15s;
    display: inline-flex;
    align-items: center;
}

.actionBtn:hover {
    transform: translate(1px, 1px);
    box-shadow: 1px 1px 1px #777;
}

.actionBtn:active {
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 1px #777;
}

.actionBtn.positivBtn {
    border-color: green;
}

.actionBtn.negativBtn {
    background-color: #e30619;
    border-width: 3px;
    color: white;
}